body {
    --black: #111111;
    --white: #FFFFFF;

    --color: #6D40F4;
    --color: #494141;
    --foreground: #233742;

    --gray: #F2F2F2;
    --alternate: #2D4881;

    --html: #E39600;
    --css: #1DA1F2;
    --php: #8F48EB;
    --js: #d6be00;

}



@media(prefers-color-scheme: dark) {
    body {
        --background: #111;
        --bg-rgb: 11, 11, 11;
        --bg: #000;
        --color: #F2F2F2;
        --bg-color: #2e2e2e;
        --bg-card: #191919;
        --ink: #eaeaea;
        --pen: #b1b1b1;
        --border: #242424; 
        --gradient: linear-gradient(to right, #E39600, #EA4C89, #8F48EB, #1DA1F2);
        --reverse-gradient: linear-gradient(35deg, #1DA1F2, #8F48EB, #EA4C89, #E39600);

        --bg-gradient: linear-gradient(35deg,var(--bg-card),var(--background));

        --orange: #E39600;
        --pink: #EA4C89;
        --purple:  #8F48EB;
        --blue: #1DA1F2;
    }

}

@media(prefers-color-scheme: light) {
    body {
        --background: #f4f4f4;
        /*--background:  rgb(255,127,);*/
        --bg-rgb: 244, 244, 244;
        --color: #191919;
        --bg-color: #F3F3F3;
        --bg-card: #F3F3F3;
        --ink: #191919;
        --pen: #2e2e2e;
        --border: #e3e3e3;
        /*--gradient: linear-gradient(to right top, #111111, #131313, #141414, #161616, #171717, #191919, #1c1c1c, #1e1e1e, #222222, #262626, #2a2a2a, #2e2e2e);*/
        --gradient: linear-gradient(to right, #E39600, #EA4C89, #8F48EB, #1DA1F2);
        --reverse-gradient: linear-gradient(35deg, #1DA1F2, #8F48EB, #EA4C89, #E39600);

    }


}