body {
    --black: #111111;
    --white: #FFFFFF;

    --color: #6D40F4;
    --color: #494141;
    --foreground: #233742;

    --gray: #F2F2F2;
    --alternate: #2D4881;

    --html: #E39600;
    --css: #1DA1F2;
    --php: #8F48EB;
    --js: #d6be00;

}


@media(prefers-color-scheme: dark) {
    body {
        --background: #111;
        --black:  #191919;
        --white:  #f2f2f2;
        --bg-card: #191919;
        --marker: #eaeaea;
        --pen: #b1b1b1;
        --link-bg: #242424; 
        --gradient: linear-gradient(to right, #E39600, #EA4C89, #8F48EB, #1DA1F2);
        --reverse-gradient: linear-gradient(35deg, #1DA1F2, #8F48EB, #EA4C89, #E39600);

        --bg-gradient: linear-gradient(35deg,var(--bg-card),var(--background));
        --theme-bg: #E39600;
/*        --theme-bg-inactive: #8F48EB;*/

        --orange: #E39600;
        --pink: #EA4C89;
        --purple:  #8F48EB;
        --blue: #1DA1F2;

        --alt-background: #f1f1f1;
        --alt-black: #191919;
        --alt-white: #f2f2f2;
        --alt-bg-card: #F3F3F3;
        --alt-marker: #191919;
        --alt-pen: #2e2e2e;
        --alt-link-bg: #b1b1b1;

    }

        .style-guide li {
        border:  1px solid var(--pen);
    }

}

@media(prefers-color-scheme: light) {
    body {
        --alt-background: #111;
        --alt-black:  #191919;
        --alt-white:  #f2f2f2;
        --alt-bg-card: #191919;
        --alt-marker: #eaeaea;
        --alt-pen: #b1b1b1;
        --alt-link-bg: #242424; 
        --gradient: linear-gradient(to right, #E39600, #EA4C89, #8F48EB, #1DA1F2);
        --reverse-gradient: linear-gradient(35deg, #1DA1F2, #8F48EB, #EA4C89, #E39600);

        --bg-gradient: linear-gradient(35deg,var(--bg-card),var(--background));
        --theme-bg: #E39600;
/*        --theme-bg-inactive: #8F48EB;*/

        --orange: #E39600;
        --pink: #EA4C89;
        --purple:  #8F48EB;
        --blue: #1DA1F2;

        --background: #f1f1f1;
        --background:  #f1f1f1;
        --black: #191919;
        --white: #f2f2f2;
        --bg-card: #F3F3F3;
        --marker: #191919;
        --pen: #2e2e2e;
        --link-bg: #b1b1b1;

    }

    .style-guide li {
        border:  1px solid var(--alt-black);
    }



}