/* STRUCTURE */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
   background-color: var(--white);
   color:  var(--dark);

}



main {
	flex-grow:  1; /* push the footer down */
}

inner-column {
	display:  block;
	width: min(95%, 1100px); 
	margin-right: auto;
	margin-left: auto;
	/*padding: 30px 14px; /* a default */*/
}
