
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/day-1.css';






html {
	background-color: var(--white);
}



/* SITE SECTIONS */
.site-header {

	position: sticky;
	top: 0;

   background-color: inherit;

}
.site-header inner-column {
	padding: 14px;
}



