
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

@import 'developer-styles.css'; 
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/goals.css';
@import 'modules/about.css';
@import 'modules/projects.css';
@import 'modules/experiments.css';
@import 'modules/writing.css';
@import 'modules/footer.css';
@import 'modules/resume.css';
@import 'modules/style-guide.css';
@import 'modules/case-studies.css';








/* SITE SECTIONS */


.landing-container {
   /*height: 90vh;*/

   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   gap:  20px;

}

.landing h1.section-heading {
   display: flex;
   flex-direction: column;
}

.landing p.body-copy {
   max-width: 35ch;
   margin: 0 auto;
}

.yt-video {
   max-height 600px;
}



@media (min-width:  768px) {
   header {
      position: sticky;
      top: 0;
      z-index:  100;
   }
}

main {
   /*margin-top: 60px;*/
   margin-bottom: 30px;
   /*position: relative;*/

}

.home div {
   /*margin-bottom: 150px;*/
}



.third-level-heading {
   color: var(--orange);
}
.fourth-level-heading {
   color: var(--purple);
}


.contact-me .quiet-voice a {
   color:  var(--color);
   text-decoration: none;
   font-weight: 700;

}




.home .container p.quiet-voice:nth-of-type(2) {
   font-weight:  500;
   font-size:  18px;
   margin-top: 20px;

}

.home .container {
   /*margin-top:  20px;*/
   display:  flex;
}





@media (min-width:  768px) {
   .landing inner-column {
      width:  50%;

   }

   .contact-me {
      gap:  20px;
   }
}





