.case-study .languages {
	display:  flex;
	gap: 10px;
	/*font-family: 'Inter', sans-serif;*/
}

.case-study .languages li {
	padding: 3px 10px;
	border: 1px solid var(--marker);
	border-radius: 0.1rem;

}


.case-study .container strong {
	color: var(--marker);
	font-weight: bold;


}

.case-study .container code {
	background-color: var(--pen);
	color: var(--black);
	padding: 2px;
}

.case-study .container .mobile {
	max-height: 700px;
	width: auto;
}


.case-study .container, .case-study .container div, .case-study ul.tools  {
	display:  flex;
	flex-direction: column;
}

.case-study .container {
	gap: 60px;
}

.case-study .container div {
	gap:  20px;
}

.case-study .container .cs-heading{
	gap:  15px;
}

.case-study .container div.tools-resources {
	gap:  5px;
}

.case-study .container  p.body-copy {
	margin-top: 0 !important;
	max-width: 80ch ;
}

.case-study .container .project-goals {
	padding: 20px 40px;
	background-color: var(--black);
	border-left: 2px solid var(--blue);
	color: var(--marker);
	gap:  5px;
}

.case-study .container .project-goals h2.third-level-heading {
	color: var(--blue);
}

.case-study .container .project-goals p.body-copy {
	color: var(--marker);
}






.case-study .container ul.list {
	display:  flex;
	flex-direction: column;
	gap:  5px;
}



.case-study .container picture + picture {
	margin-top: 10px;
}

.case-study ul.list li::before {
	 font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
	 padding-right: 5px;
	 color: var(--blue);
 }

.case-study ul.list li {
	margin-left: 15px;

}

.case-study .container ul.list li ul li {
	margin-left: 20px;
}
.case-study .container ul.list li ul li::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f101";
      padding-right: 5px;	
      color:  var(--orange);
 }


.case-study .container .body-copy span a {
	color: var(--marker);
}

.case-study .container img {
	max-width: 90%;
	margin:  auto;
}

.case-study .container p span.block {
	display: block;
	margin: 15px 0;
}

.case-study .container p span.red {
	background: red;
	color: var(--marker);
}

.case-study .container p span.green {
	background: green;
	color: var(--marker);
}


figure {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: var(--black);
	color: var(--marker);
	margin: 0 15px;
	padding: 30px;
	border-radius: 0.5rem;
}

figure figcaption {
	align-self: end;
}

figure figcaption cite, .case-study .container em {
	font-style: italic;
}


.case-study .container ul.tools {
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 10px 26px;
	color: var(--marker);
	max-width: initial;
}

.tools-resources {
	margin-bottom: 60px;
}

.tools-resources li {
	/*padding-bottom: 1px;*/
	border-bottom: 1px solid var(--marker);
}


















