.case-study .container, .case-study .container div, .case-study ul.tools  {
	display:  flex;
	flex-direction: column;
	gap:  30px;
	
}

.case-study .container div {
	gap:  10px;

}

.case-study .container  p.body-copy {
	margin-top: 0 !important;
}


/*.case-study .project-goals {
	padding: 25px;
	background-color: var(--black);
}*/



.case-study ul.tools {
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 5px 40px;
}


.case-study .container .body-copy span a {
	color: var(--marker);
}

.case-study .container img {
	max-width: 90%;
	margin:  auto;
}