.sml-second-level-heading {
  color: var(--foreground);
}

.blog-grid {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.blogs {
  margin-top: 15px;
}

.article-card {
  display: flex;
  background-image: none !important;
}
