body {
    position: relative;

}

footer {

/*    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    min-height: 10vh;

    background-color: var(--background);
    margin-top: 5px;
    border: 0px;
    border-top: 2px solid;
    border-image: var(--gradient);
    border-image-slice: 1;
    color: white;
    text-decoration: none;*/

    /*background-color: var(--bg-card);*/
   margin-bottom: 1rem;
  
}

.footer-container {
    display: flex;
    justify-content: space-between;

}





.footer-container h2 {
    color:  var(--marker);
    font-weight: 700;
}


.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


footer .social-media {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;

}

