 .my-goals blockquote {
   text-align: center;
}

.my-goals span.quoter {
   display: block;
   padding:  20px 2rem 20px;
}

.my-goals span.quoter::before, .about .my-goals span.quoter::after {
   content: "-";
   padding:  0 5px;

}


.goal ul li {
   padding:  0 10px;
   display:  flex;
}


.goal ul li::before {
   content: "•";
   padding-right:  5px;
}


