/*What's Hot Projects*/

.whats-hot {
    display: flex;
    flex-direction: column;

}


.whats-hot .wh-intro {
    margin: 25px 0;
}

.whats-hot h4.card-heading {
    margin-bottom: 15px;
}


.article-grid,
projects-grid,
.bits {
    margin-top: 45px;
}





projects-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

projects-grid>* {
    flex-basis: 100%;
}


.stuff {
    position: relative;
    padding: 5px;
}

/*.stuff:hover {
    background: linear-gradient(to right, #E39600, #EA4C89, #8F48EB, #1DA1F2);


}
*/

project-card {
    display: flex;
    align-items: center;
    background-image: var(--bg-gradient);

    padding: 30px 20px;
    border-radius: 0.5rem;
}

@media (min-width: 1000px) {
    project-card {
        padding: 2rem;
    }
}

project-card:hover {
    /*outline:  4px solid rebeccapurple;*/
    width: fit-content;
    border-width: 4px;
    border-style: solid;
    border-image: var(--reverse-gradient) 1;
    transition: .35s ease-in-out;

}


project-card .card-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



project-card,
.bits-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.view-all-link {
    margin: 60px 0 120px;
}

.whats-hot-blogs .view-all-link {
    margin: 82.5px 0 120px;
}



.view-all-link p.body-copy span {
    color: var(--ink);
}



blog-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/*project-card p.body-copy {
   margin-top:  0.3125rem;
}*/

project-card .third-level-heading {
    margin-top: 10px;
    font-weight: 500;
    color: var(--color);

}

project-card a,
.bit-card a {
    color: var(--color);

}

project-card ul {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}




blogs-grid {
    display: flex;
    flex-direction: column;

    gap: 20px;

}

.html,
.css,
.php,
.js {
    padding: 2px 4px;
    color: var(--white);
    font-weight: 700;

}

.html {
    background-color: var(--html);
}

.css {
    background-color: var(--css);
}

.php {
    background-color: var(--php);
}

.js {
    background-color: var(--js);
}

projects-grid project-card a picture img {
    /*max-height:  170px;*/
    min-width: 285px;
    /*width: auto;*/
}



@media (min-width: 768px) {

    projects-grid {
        display: grid;
        /*     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    }



    projects-grid project-card {
        flex-direction: row;
        gap: 40px;

    }

    projects-grid project-card .card-details {
        flex-basis: 100%;
    }

    project-card p.body-copy {
        /*max-width:  45ch;*/

    }

    projects-grid {
        gap: 20px;
    }


}

/*.bits {
   margin-top: 80px;
}
*/

.bits-grid {
    gap: 40px;
    margin-top: 10px;
}


.bit-card p.body-copy {
    margin: 5px 0 10px;
}

.bit-card .second-level-heading {
    color: var(--alternate);
}