/*What's Hot Projects*/



section.projects.container {
    gap: 100px;
}

.projects .second-level-heading {
    color: var(--orange);
}

.whats-hot {
    display: flex;
    flex-direction: column;

}


.whats-hot .wh-intro {
    margin: 25px 0;
}

.whats-hot h4.card-heading {
    margin-bottom: 15px;
}

projects-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 30px;

}

.bit-card picture {
    max-width: 300px;
}


.stuff {
    position: relative;
    padding: 5px;

    border-radius: 0.5rem;
    
}


project-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


project-card .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12px 0;
    gap: 5px;

    order: -1;
}

project-card .card-details i {
    font-size: 28px;
}

@media (min-width: 768px) {
    project-card .card-details {
        align-items: flex-start;
        text-align: left;
        order: 2;
    }
}





.view-all-link {
    margin: 60px 0 120px;
}

.whats-hot-blogs .view-all-link {
    margin: 82.5px 0 120px;
}



.view-all-link p.body-copy span {
    color: var(--ink);
}



blog-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/*project-card p.body-copy {
   margin-top:  0.3125rem;
}*/

project-card .third-level-heading {
    /*margin-top: 10px;*/
    font-size: 32px;
    font-weight: 700;
    color: var(--purple);

}

project-card a,
.bit-card a {
    color: var(--color);

}

project-card ul {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

project-card .preview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

project-card .preview-section a.body-copy {
    color: var(--marker);
}



project-card .project-card-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.wh-projects a.read-more,
projects-grid a.read-more {
    color: var(--marker);
    border: 2px solid var(--orange);

}

project-card .card-details .project-card-links a {
    align-self: center;
}

.wh-projects .card-details p.inside-part {
    margin-top: 5px;
}


a.read-more:hover,
.view-all-link:hover {
    background-color: var(--orange);


}

.view-all-link:hover {
    color: var(--background);
}

project-card .card-details .project-card-links a picture img {
    height: 20px;
    min-width: auto !important;
}

.whats-hot-projects .view-all-link {
    border: 2px solid var(--orange);
}

blogs-grid {
    display: flex;
    flex-direction: column;

    gap: 20px;

}


projects-grid project-card a picture img {

    min-width: 285px;

}



section.bits-grid {
    gap: 20px;
}

section.bits-grid * {
    display: flex;
    flex-direction: column;
}

section.bits-grid bit-card-icons i {
    color: var(--marker);
    font-size: 22px;
}

section.bits-grid bit-card-icons i.fa-flask {
    color: var(--pen);
    font-size: 20px;
}

section.bits-grid .bit-card {
    gap: 10px;

    background-color: var(--bg-card);
    padding: 30px;


}

section.bits-grid .bit-card h3 {
    margin-top: 20px;
}

section.bits-grid bit-card-icons {
    flex-direction: row;
    justify-content: space-between;
}

section.bits-grid .bit-card ul {
    flex-direction: row;
    gap: 10px;

    margin-top: 15px;
}

section.bits-grid .bit-card ul li {
    border: 1px solid var(--pen);
    border-radius: 2px;
    padding: 4px 8px;
}

section.efp h3 {
    color: var(--purple);
}





@media (min-width: 768px) {

    projects-grid {
        display: grid;
        /*     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    }

    project-card .third-level-heading {
        font-size: var(--fluid-1);
    }


    projects-grid project-card {
        flex-direction: row;
        gap: 40px;

    }

    projects-grid {
        gap: 40px;
    }

    section.bits-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}















