
.style-guide section {
   margin-bottom: 60px;
}

.style-guide section div:last-child:not(.swatches, .card-details, .article-grid) {
   margin-bottom: 50px;
}

.style-guide .body-copy a {
   display: inline-block;
}

.style-guide .sg-intro {
   margin-top: 15px;
}


.style-guide ul {
   display:  grid;
   grid-template-columns: 1fr 1fr;
   gap:  5px;
   margin-top: 5px;
}

.style-guide li {
   /*border:  1px solid var(--white);*/
   padding:  10px;
   color: var(--black);

}




.style-guide p span{
   text-transform: uppercase;
  /* color:  var(--alternate);*/
}

.style-guide p + p {
   margin-top: 15px;
}


/*swatches*/

.style-guide .sg-colors, .style-guide .sg-font {
   display: flex;
   flex-direction: column;
   gap:  15px;
}

.style-guide .swatches {
   display:  flex;
   flex-direction: column;
   grid-gap: 30px;

}



.sg-font .fonts {
   display:  flex;
   flex-direction: column;
   gap: 30px;
}


/*.sg-font div {
   display: flex;
   flex-direction: column;
   gap:  5px;
}*/


/*voices*/


.sg-voice-types {
   display: flex;
   flex-direction: column;
   gap:  15px;

}
.sg-voice-types .voices {
   display: flex;
   flex-direction: column;
   gap:  30px;
}

.demo-project-card{
   display: flex;
   flex-direction: column;
}

.demo-project-card picture img, .sg-animations picture img  {
   max-height: 150px;
   width: auto;
}

.sg-animations {
   border-bottom: none;
}

.sg-project-card, .sg-blogs, .sg-animations  {
      display: flex;
   flex-direction: column;
   gap:  15px;
}

.sg-blogs .article-grid {
   margin: 0;
}

@media (max-width:  300px ) {
   .style-guide ul {
      grid-template-columns: 1fr;
   }
}


@media (min-width: 600px){
/*   .style-guide project-card {
       max-width:  90%;
 
   }*/

}

@media (min-width: 700px){
   .style-guide project-card {
       flex-direction: row;
   }

   .style-guide project-card .card-details {
      flex-basis: 100%;
   }

   .style-guide ul {
      grid-template-columns: repeat(3, 1fr);
   }

}

@media (min-width: 800px){
/*   .style-guide project-card {
       max-width:  40%;
   }
*/
}




.style-guide .sg-animations .body-copy:not(.card-details .body-copy) {
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 5px;
}






/*colors for universal theme*/
.style-guide .universal .orange {
   background-color: var(--orange);
}

.style-guide .universal .pink {
   background-color: var(--pink);
}

.style-guide .universal .purple, button.night {
   background-color: var(--purple);
}

.style-guide .universal .blue {
   background-color: var(--blue);
}

.style-guide .universal .gradient {
   background-image: var(--gradient);
}

.style-guide .universal .reverse-gradient {
   background-image: var(--reverse-gradient);
}



/*colors for dark theme*/

.style-guide .dark .body-copy:not(.white, .marker, .pen) {
   color: var(--white);
}

.style-guide .dark .black {
   background-color: var(--black);
}

.style-guide .dark .white {
   background-color: var(--white);
}

.style-guide .dark .background {
   background-color: var(--background);
}

.style-guide .dark .link-bg {
   background-color: #242424;
}

.style-guide .dark .marker {
   background-color: #eaeaea;
}

.style-guide .dark .pen {
   background-color: #b1b1b1;
}


/*colors for light theme*/

.style-guide .light .body-copy:not(.link-bg, .white, .background) {
   color: var(--white);
}

.style-guide .light .black {
   background-color: var(--alt-black);

}

.style-guide .light .white {
   background-color: var(--alt-white);
}

.style-guide .light .background {
   background-color: #f1f1f1;
}

.style-guide .light .link-bg {
   background-color: #b1b1b1;
   color: var(--black);
}

.style-guide .light .marker {
   background-color: #191919;


}

.style-guide .light .pen {
   background-color:  #2e2e2e;


}

.style-guide .dark .background {
   background-color: #111;
}
























