.article-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 45px;

    /*    border: 2px solid var(--border);
    background-color: var(--bg-card);
    padding: 30px 20px;
*/


}


.article-date {
    /*       width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-left:  none;
  border-right: none;
  border-image: var(--gradient) 1;
    padding: 2px 0;*/

}

.article-card .article-content {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    width: fit-content;
    border-width: 4px;
    border-style: solid none none;

    border-image: var(--reverse-gradient) 1;
    background-color: var(--alt-black);
    padding: 15px 20px 40px;

}



.writing .blog {
    margin-top: 2rem;
}

.article-grid .article-card .body-copy {
    line-height: 1.2;
}

.article-content h3 {
    margin-top: 10px;
}


.article-content a {
    width: 100%;
}

.article-content ul {
    display: flex;

    justify-content: space-between;
}

.article-content .headline {
    display: none;
}


.article-content .intro {
    background-image: linear-gradient(180deg, var(--marker), var(--white), var(--pen), rgba(250, 250, 250, 0.01));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

















